.tagline {
  padding-top: 10px;
  padding-bottom: 20px;
  color: gray;
  text-align: center;
}

.discover-section {
  background-color: white;
  color: gray;
  padding-left: 10px;
  padding-right: 10px;

  .feature {
    padding: 20px 20px 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    h2 {
      margin-top: 15px;
      letter-spacing: 1px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
    }
    img {
      height: 150px;
    }
  }
}

.how-it-works-section {
  background-image: linear-gradient(-230deg, $primary 40%, $primary-light 80%);
  .tagline {
    color: white;
  }
}

.special {
  margin-left: 5px;
}

