<div class="banner-top"> </div>

<div class="banner-title text-center">
  <h1 id="headline">MAKE YOURSELF AND THE WORLD BETTER</h1>
</div>

<div class="banner-description">
  <p id="intro">Discover Meliorise, the self-improvement coach with a motivation engine that lets you support causes you care for</p>
</div>

<div class="banner-bottom">
  <div class="angle-down">
    <i class="fa fa-angle-down" id="scrollarrow"></i>
  </div>
</div>
