<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="feature-holder">
      <div class="feature">
        <%= image_tag("goodresolutions.png") %>
        <h2>TURN GOOD RESOLUTIONS INTO ACTIONS</h2>
        <p>Because just wishing is not enough, Meliorise helps you set, track, and reach meaningful personal objectives. It's a fact: what is measured, improves.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="feature-holder">
      <div class="feature">
        <%= image_tag("incentivize.png") %>
        <h2>PUT A LITTLE STAKE IN THE GAME</h2>
        <p>It's easier to reach your objectives if you incentivize yourself. With Meliorise, lock an amount you'll retrieve at achievement, proportionally to your success.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="feature-holder">
      <div class="feature">
        <%= image_tag("betterworld.png") %>
        <h2>THE TWEAK FOR A BETTER WORLD</h2>
        <p>Here comes the tweak: the rest of the amount is donated to a nonprofit of your choice...so the world gets better anyway, through you or through them!</p>
      </div>
    </div>
  </div>
</div>
