<div class="blockquote" style="background-color: #A2001D">
    With Betterise, I managed to go exercise twice a week and stop using my smartphone when at the restaurant with friends, giving €30 to Médecins Sans Frontières in the process. Definitely worth it!
    <br>
    <em>– Client Name – Company</em>
</div>
<div class="blockquote" style="background-color: #F5B25C">
    The app framed my attempt at spending more quality time with my kids, while helping me achieve a more eco-friendly diet. I donated €50 to WWF to celebrate this.
    <br>
    <em>– Client Name – Company</em>
</div>

<div class="blockquote" style="background-color: #00E389">
    I did not entirely manage my objective of spending less time on my computer in the evening...thus I donated €10 to Oxfam. I would have donated this amount anyway, even without the app: Betterise just makes donating more fun!
    <br>
    <em>– Client Name – Company</em>
</div>
