<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="quote">
      <div class="content">
        With Betterise, I managed to go exercise twice a week and stop using my smartphone when at the restaurant with friends, giving €30 to Médecins Sans Frontières in the process. Definitely worth it!"
        <br>
        <em>Eleanor</em>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="quote">
      <div class="content">
        The app framed my attempt at spending more quality time with my kids, while helping me achieve a more eco-friendly diet. I donated €50 to WWF to celebrate this."
        <br>
        <em>Patrick</em>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="quote">
      <div class="content">
        I did not entirely manage my objective of spending less time on my computer in the evening...thus I donated €10 to Oxfam. I would have donated this amount anyway, even without the app: Betterise just makes donating more fun!"
        <br>
        <em>Thomas</em>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="quote">
      <div class="content">
      Thanks to the discipline that Meliorise provides, I successfully stopped eating junk food for at least 5 days a week. This way I got my full €25 incentive pledge back. I think I'll just reinvest that pledge in a new challenge!"
        <br>
        <em>Emily</em>
      </div>
    </div>
  </div>
</div>
