 <section id="cd-timeline" class="cd-container">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("set objectives.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>SET OBJECTIVES AND MAKE A PLEDGE</h2>
      <p>Pick from a wide range of personal improvement points, or define your own. Set the timeline to reach them and lock an amount to incentivize yourself, as of €5 in one month</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
  <div class="cd-timeline-img cd-picture tracker">
      <%= image_tag "track objectives.png", :class => "playlogo" %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>TRACK YOUR ACHIEVEMENTS</h2>
      <p>Meliorise comes packed with coaching features so you stay on track to reach your objectives! Get reminders and tips & tricks to assess regularly where you stand</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("partial success.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>PARTIAL SUCCESS? NO BIG DEAL!</h2>
      <p>If you reach less than 100% of your objectives, then you retrieve that share of your pledge: the rest will be donated to a nonprofit of your choice, to make the world better anyway</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <%= image_tag("full success.png") %>
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>FULL SUCCESS IS YOURS TO CELEBRATE</h2>
      <p>Did you reach 100% of your objectives? Congrats! You'll get your full pledge back - with the opportunity to share it with a nonprofit, as a way to celebrate this achievement!</p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->
