.quote {
  margin-bottom:40px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(162,0,29,0.5);

  .content{
    color: white;
    min-height: 130px;
  }
}

.content:before {
  color: white;
  font-size: 30px;
  line-height: 0.5em;
  margin-right: 0.27em;
  content: "\f10d";
  font-family: FontAwesome;
  float:left;
}
